.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.buttons {
  margin-top: 50px;
}

#container {
  height: 300px;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

#left {
  height: 100px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

#right {
  height: 100px;
  width: 200px;

  margin-left: 30px;
  margin-right: 30px;
}

#middleOne {
  height: 100px;
  width: 200px;

  margin-left: 30px;
  margin-right: 30px;
}

#middleTwo {
  height: 100px;
  width: 200px;

  margin-left: 30px;
  margin-right: 30px;
}

#temperature {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}